html {
	-ms-touch-action: none;
}

#cartel {
	position: absolute;
	z-index: 5;
	top:47%;
	bottom: 10%;
	width: 100%;
	height: auto;
	background: none;
}

#cartel-contenido {
	position: absolute;
	z-index: 1;
	width: 100%;
	background: none;
	left: -9px;
	top: 5px;
}

#cartel-contenido div {
	float:left;
	display:block;
	width:40%;
	height:30%;
	margin-top:0;
	background:none;
	font-size: 100%;
	margin-left:6%;
}
#cartel-contenido div p {
	color:white;
	text-align:center;
	font-weight: bold ;
	font-size: 110%;
	}

#cartel-contenido div input {
	width:50%;
	height:100%;
	margin-left:27%;
	outline:none;
}
