@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background-image:url(../img/fondo.jpg);

}
 header{
	background:black;
	width:100%;
	top:0;
	height:9%;
	position:fixed;
	z-index:3;
}

footer{
	width:100%;
	height:9%;
	background:black;
	position:fixed;
	bottom:0;
	z-index:3;		
}
footer div{

	display:inline-block;
	float:left;
	width:20%;
	height:auto;
	background:none;	
}
footer div input{
	margin-left:25px;
	width:45%;
	height:65%;
	margin-top:13px;
	outline:none;
}
#back-btn{display:none;}

#back-btn {
	height:100%;
	float:left;
}
#title {
	height:100%;
	color:#FFF;
	margin:15px 0 0 10px}
#title img{
	display:inline-block;
	height:50%;
	position:relative;
}
#title0 {
	display:inline-block;
	top:2.5%;
	margin-left:2%;
}
#title0 p{
	font-size:110%;
	display:inline-block;
	}
.section{
	background:none;
}


.cartelera {
position:absolute;
background:none;
top:9%;
width:100%;
height:30%;
}
.cartelera .slider{
	width: 100%;
	height: 100%;
	position:absolute;
	overflow:hidden;
  }
.cartelera .slider div img{width:100%;max-height:194px;}
.header-1 {
	position:absolute;
	width:100%;
	height:12%;
	top:40%;
}
 #header-2{
	text-align:center;
	font-size:2em;
	color:white;
	height:100%;

}
.page .rightTotal{
	background-image:url(../img/fondo.jpg);
	position:fixed;
	z-index:1;
	width:100%;
	top:9%;
	bottom:9%;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0);
	height:auto;
}

 #rightTotal #wrapper {
	position: absolute;
	height:100%;
	width: 100%;
	overflow: hidden;
}

#rightTotal #wrapper  #scroller {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}


/*contenido */

#wrapp {
	position: absolute;
	top:9%;
	height:82%;
	width: 100%;
	overflow: hidden;
	bottom:9%;
}

#wrapp #scrolle {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

 #page {
	margin:0% 0% 0% 2%;
	width:96%;
	height:100%;
	overflow:auto;
}



 #page #content {
	width:100%;
	background-color: #CCC;
	border:2px solid #0CC;
	margin-top:2%;
}

 #page #content .flip {
	padding:5px;
	text-align:center;
	background:#099;
	cursor:pointer;
    font-weight: bold;

}
 #page #content .panel {
	background: #099;
	display:none;
}

 #page #content .panel {
	width:100%;
}
 #page #content .photo{width:100%;}
 #page #content .photo img {
	width:100%;
	height:10%;
}

 #page #content .info {
	width:100%;
	height:100%;
}
 #page #content .info p {
margin-top:0px;
height:auto;
}
 .titulo{margin-top:0;
font-family:Verdana, Geneva, sans-serif;
border-bottom: 2px solid #099;}
 .fecha{
	border-top:2px solid #0C6;
	padding:.2em;
	font-style:oblique;
}
 .nombre{
	font-size:1.5em;
}
